@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: url("Images/IMG_1577.jpg") center / cover no-repeat;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 10px;
}

.navbar {
  display: flex;
  padding: 20px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}

.navbar .logo img {
  width: 40%;
  border-radius: 50%;
}

.navbar .logo h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #6d5818;
  /*color: #931b43; */
  margin-left: -40px;
}

.navbar .links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  color: #931b43;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar .links a:hover {
  color: rgb(50, 141, 110);
}

.navbar .login-btn {
  border: none;
  outline: none;
  color: #7b1336;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}

.blur-bg-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: 0.1s ease;
}
.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 720px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  transform: translate(-50%, -100%);
  border: 2px solid #fff;
  border-radius: 5px;
}
.show-popup .form-popup {
  opacity: 0;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878787;
  cursor: pointer;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  max-width: 350px;
  width: 100%;
  color: #fff;
  display: flex;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login .form-details {
  background: url(Images/Tab.02.jpg);
  background-size: cover;
  border-radius: 5px;
  background-position: center;
}
.signUp .form-details {
  background: url(Images/abstract-dark-background-with-flowing-colouful-waves_1048-13124.jpg.avif);
  background-size: cover;
  border-radius: 5px;
  background-position: center;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 30px;
}
.form-box .form-content {
  width: 100%;
  padding: 30px;
}
form .input-field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

form .input-field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 0.95rem;
  border-radius: 4px;
  border: 1px solid #717171;
}

.input-field input:focus {
  border-color: #096c7a;
}
.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

form .input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #717171;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  color: #096c7a;

  transform: translateY(-120%);
}
.form-box a {
  color: #096c7a;
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

.form-box :where(.forgot-password, .policy-text) {
  display: inline-flex;
  margin-top: 15px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 14px 0;
  border-radius: 5px;
  margin: 25px 0;
  color: #fff;
  cursor: pointer;
  background: #096c7a;
  transition: 0.3s ease;
}

form button:hover {
  background: #1e96a6;
}

.form-box .bottom-link {
  text-align: center;
}

.form-popup .signUp {
  display: none;
}

.signUp .policy-text {
  display: flex;
  align-items: center;
}

.signUp .policy-text input {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }
}
